[user]
  name = Alper ALIN
  email = alperalin@gmail.com

[core]
	# Use custom `.gitignore`
	excludesfile = /Users/alperalin/.gitignore_global
[color]
	# Use colors in Git commands that are capable of colored output when
	# outputting to the terminal. (This is the default setting in Git ≥ 1.8.4.)
	ui = auto
[init]
	defaultBranch = main
